In [1]:
from bs4 import BeautifulSoup as soup

In [2]:
from urllib.request import urlopen as ureq

In [3]:
url='https://www.imdb.com/india/top-rated-telugu-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=8a7876cd-2844-4017-846a-2c0876945b7b&pf_rd_r=EKZ6N4NQBS7YVMK5FSYF&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_4'

In [4]:
uclient=ureq(url)

In [5]:
page_html=uclient.read()

In [6]:
uclient.close()

In [7]:
page=soup(page_html,"html.parser")

In [8]:
container=page.findAll("tbody",{"class":"lister-list"})[0].findAll('tr')

In [9]:
print(len(container))

50

In [10]:
container[0]

<tr>
<td class="posterColumn">
<span data-value="1" name="rk"></span>
<span data-value="8.398630080704715" name="ir"></span>
<span data-value="-4.028832E11" name="us"></span>
<span data-value="3504" name="nv"></span>
<span data-value="-2.6013699192952853" name="ur"></span>
<a href="/title/tt0249795/"> <img alt="Maya Bazaar" height="67" src="https://m.media-amazon.com/images/M/MV5BMmQwNjExNzctMGE1NC00NGU2LWEwN2ItMzljZmU4ODk5ZGRmXkEyXkFqcGdeQXVyMzA0NTI2OTM@._V1_UY67_CR1,0,45,67_AL_.jpg" width="45"/>
</a> </td>
<td class="titleColumn">
      1.
      <a href="/title/tt0249795/" title="Kadiri Venkata Reddy (dir.), Taraka Rama Rao Nandamuri, S.V. Ranga Rao">Maya Bazaar</a>
<span class="secondaryInfo">(1957)</span>
</td>
<td class="ratingColumn imdbRating">
<strong title="8.4 based on 3,504 user ratings">8.4</strong>
</td>
<td class="ratingColumn">
<div class="seen-widget seen-widget-tt0249795 pending" data-titleid="tt0249795">
<div class="boundary">
<div class="popover">
<span class="delete">Â </span><ol><li>1<li>2<li>3<li>4<li>5<li>6<li>7<li>8<li>9<li>10</li></li></li></li></li></li></li></li></li></li></ol> </div>
</div>
<div class="inline">
<div class="pending"></div>
<div class="unseeable">NOT YET RELEASED</div>
<div class="unseen"> </div>
<div class="rating"></div>
<div class="seen">Seen</div>
</div>
</div>
</td>
<td class="watchlistColumn">
<div class="wlb_ribbon" data-recordmetrics="true" data-tconst="tt0249795"></div>
</td>
</tr>

In [11]:
file="IMDB_Telugu.csv"

In [12]:
f=open(file,"w")

In [13]:
headers="Rank,Name,Year,Rating\n"

In [14]:
f.write(headers)

22

In [15]:
i=1
import re

In [16]:
for cont in container:
    Rank=i
    Name=cont.findAll("td",{"class":"titleColumn"})[0].findAll("a")
    Name=re.sub('^[^a-z,A-Z]'," ",str(Name).strip(']') )
    Name=re.sub("[,<\(\[].*?[\)>]", "", str(Name))
    year=cont.findAll("span",{"class":"secondaryInfo"})[0].text
    IMDB_rating=cont.findAll("td",{"class":"ratingColumn imdbRating"})[0].text
    print("Rank :",Rank,"Name :",Name,"Year :",year.strip("()"),"rating :",IMDB_rating.strip("\n").rstrip())
    
    i+=1

    f.write(str(Rank)+","+Name+","+year.strip("-")+","+IMDB_rating.strip("\n")+"\n")

Rank : 1 Name :  Maya Bazaar Year : 1957 rating : 8.4
Rank : 2 Name :  Aha Naa Pellanta Year : 1987 rating : 8.2
Rank : 3 Name :  C/o Kancharapalem Year : 2018 rating : 8.2
Rank : 4 Name :  Nuvvu Naaku Nachchav Year : 2001 rating : 8.2
Rank : 5 Name :  Sagara Sangamam Year : 1983 rating : 8.2
Rank : 6 Name :  Jersey Year : 2019 rating : 8.1
Rank : 7 Name :  Mahanati Year : 2018 rating : 8.1
Rank : 8 Name :  Agent Sai Srinivasa Athreya Year : 2019 rating : 8.1
Rank : 9 Name :  Aa Naluguru Year : 2004 rating : 8.0
Rank : 10 Name :  Bommarillu Year : 2006 rating : 8.0
Rank : 11 Name :  Baahubali 2: The Conclusion Year : 2017 rating : 8.0
Rank : 12 Name :  Sankarabharanam Year : 1980 rating : 8.0
Rank : 13 Name :  Athadu Year : 2005 rating : 8.0
Rank : 14 Name :  Kshanam Year : 2016 rating : 8.0
Rank : 15 Name :  Pelli Choopulu Year : 2016 rating : 7.9
Rank : 16 Name :  Arjun Reddy Year : 2017 rating : 7.9
Rank : 17 Name :  Manmadhudu Year : 2002 rating : 7.9
Rank : 18 Name :  Gamyam Year : 2008 rating : 7.9
Rank : 19 Name :  Gundamma Katha Year : 1962 rating : 7.9
Rank : 20 Name :  Drushyam Year : 2014 rating : 7.9
Rank : 21 Name :  Prasthanam Year : 2010 rating : 7.9
Rank : 22 Name :  Rangasthalam Year : 2018 rating : 7.9
Rank : 23 Name :  Vedam Year : 2010 rating : 7.9
Rank : 24 Name :  Aditya 369 Year : 1991 rating : 7.9
Rank : 25 Name :  Bahubali: The Beginning Year : 2015 rating : 7.8
Rank : 26 Name :  Gitanjali Year : 1989 rating : 7.8
Rank : 27 Name :  Rudra Veena Year : 1988 rating : 7.8
Rank : 28 Name :  Evaru Year : 2019 rating : 7.8
Rank : 29 Name :  Shiva Year : 1989 rating : 7.8
Rank : 30 Name :  Manam Year : 2014 rating : 7.8
Rank : 31 Name :  Leader Year : 2010 rating : 7.8
Rank : 32 Name :  Okkadu Year : 2003 rating : 7.8
Rank : 33 Name :  Oopiri Year : 2016 rating : 7.7
Rank : 34 Name :  Tholi Prema Year : 1998 rating : 7.7
Rank : 35 Name :  Kshana Kshanam Year : 1991 rating : 7.7
Rank : 36 Name :  Happy Days Year : 2007 rating : 7.7
Rank : 37 Name :  Pokiri Year : 2006 rating : 7.7
Rank : 38 Name :  Arya Year : 2004 rating : 7.7
Rank : 39 Name :  Jamba Lakidi Pamba Year : 1993 rating : 7.6
Rank : 40 Name :  Brochevarevarura Year : 2019 rating : 7.6
Rank : 41 Name :  Missamma Year : 1955 rating : 7.6
Rank : 42 Name :  Eega Year : 2012 rating : 7.6
Rank : 43 Name :  Kick Year : 2009 rating : 7.6
Rank : 44 Name :  Khushi Year : 2001 rating : 7.6
Rank : 45 Name :  Aithe Year : 2003 rating : 7.6
Rank : 46 Name :  Goodachari Year : 2018 rating : 7.6
Rank : 47 Name :  Anukokunda Oka Roju Year : 2005 rating : 7.6
Rank : 48 Name :  Annamayya Year : 1997 rating : 7.6
Rank : 49 Name :  Kanche Year : 2015 rating : 7.6
Rank : 50 Name :  Mathu Vadalara Year : 2019 rating : 7.6

In [17]:
f.close()